# Groq API Key

LLM_PROVIDER=groq
LLM_API_KEY=your_api_key_here
LLM_MODEL_NAME=openai/gpt-oss-20b

# Gemini API Key

# LLM_PROVIDER=gemini
# LLM_API_KEY=your_api_key_here
# LLM_MODEL_NAME=gemini-3.6-flash