# Groq API Key

LLM_PROVIDER=groq
LLM_API_KEY=your_api_key_here
LLM_MODEL_NAME=openai/gpt-oss-20b

# Gemini API Key

# LLM_PROVIDER=gemini
# LLM_API_KEY=your_api_key_here
# LLM_MODEL_NAME=gemini-3.6-flash

DATABASE_URL=DATABASE_URL=postgresql+asyncpg://postgres:YOUR_PASSWORD@localhost:5432/YOUR_DATABASE

EMBEDDING_PROVIDER=gemini
EMBEDDING_API_KEY=your_api_key_here
EMBEDDING_MODEL_NAME=gemini-embedding-001